@charset "UTF-8";

@font-face {
    font-family: 'Lobster';
    src: url("fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(35, 35, 35);
    font-family: 'Lobster', cursive;
}

main{
    background-color: white;
    width: 37.5em;
    margin: auto;
    padding: 0.3em;
    border-radius: 0.2em;
    box-shadow: 0.2em, 0.2em, 0.2em gray;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}
