@charset "UTF-8";

body {
    background-color: gray;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

img {
    width: 100%;
}