@charset "UTF-8";

:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    /* background-image: linear-gradient(to bottom, var(--cor02), var(--cor01)); */
    background-color: var(--cor02);
    position: relative;
}

main {
    width: 250px;
    height: 515px;
    overflow: hidden;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#image {
    display: block;
    background-image: url(../imagens/pexels-mantas-sinkeviÄius-1106476.jpg);
    background-position: center center;
    background-size: cover;
    height: 35%;
}

div#login {
    height: 65%;
    display: block;
    padding: 5px 10px;
    background-color: white;
}

div#login > h1 {
    text-align: center;
    margin-bottom: 5px;
}

div#login > p {
    text-align: justify;
    margin-bottom: 5px;
}

div.inputs {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: var(--cor02);
}

div.inputs > label {
    width: 40px;
    padding: 5px;
    font-size: 2em;
    vertical-align: middle;
    color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

div.inputs > input {
    padding: 4px;
    height: 40px;
    margin-left: -5px;
    border-radius: 8px;
    vertical-align: middle;
    width: calc(100% - 41px);
}

div.inputs > input:focus-within {
    background-color: var(--cor01);
}

div#fields > input[type=submit] {
    border: 0;
    width: 100%;
    height: 40px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    margin-bottom: 5px;
    border-radius: 8px;
    font-weight: bolder;
    background-color: var(--cor01);
}

div#fields > input[type=submit]:hover {
    background-color: rgba(73, 160, 157, 0.500);
}

div#fields > a {
    border-radius: 8px;
    padding-top: 6px;
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    font-weight: 600;
    border: 2px solid var(--cor01);
    text-decoration: none;
    color: black;
}

div#fields > a > span {
    vertical-align: middle;
}

div#fields > a:hover {
    background-color: var(--cor01);
}


