@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to left, #61ffef, #7dd2c9);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
    border-radius: 6px;
}

p {
    text-align: justify;
}

h1{
    color: #F36A22;
    text-align: center;
}

h2{
    color: #176483;
}