@charset "UTF-8";

body {
    background-color: gray;
}

main {
    background-color: white;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
}

.video {
    background-color: aqua;
    position: relative;
    padding-bottom: 56.5%;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}