@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, rgb(175, 251, 255), rgb(0, 181, 191));
}

main {
    width: 37.5em;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.2em rgb(80, 113, 123);
    margin: auto;
}

h1#main_title {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 180, 180);
    /* width: 400em; */
}

h1 {
    color: red;
}

p {
    text-align: justify;
}

.first_subtitle {
    color: yellow;
}

.second_subtitle {
    color: green;
}