@charset "UTF-8";

main > section {
    height: 300px;
    width: 750px;
    /* border: 5px solid black; */
}

div#image {
    vertical-align: middle;
    width: 290px;
    height: 300px;
    border-radius: 0;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#login {
    width: 440px;
    height: 280px;
    border-radius: 0;
    margin-left: -5px;
    display: inline-block;
    vertical-align: middle;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div#form-email, div#form-password {
    width: 435px;
    height: 40.1px;
}

div#login input {
    border-radius: 10px;
    height: 40px;
    width: 385px;
}

div#login label {
    /* padding-left: 7px; */
    padding-right: 2px;
}

div#form-submit > input {
    width: 430px;
    color: white;
    height: 32px;
    font-size: 15px;
    font-size: 1em;
}

/* div#login > p > a#forgot-password {
    width: 473px;
} */