@charset "UFT-8";

/* HEADER */

header {
    flex-direction: row;
}

header .menu {
    width: fit-content;
    /* border: 1px solid black; */
}

header .menu div {
    display: flex;
}

.menu li {
    font-size: 1em;
    width: 110px;
    padding: 20px;
    /* border: 1px solid black; */
}


/* BANNER */

.banner h1 {
    font-size: 3.5em;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 60px;
}

.banner h2 {
    font-size: 2.5em;
    margin-bottom: 60px;
}

.banner a {
    padding: 20px;
    font-size: 1.5em;
}


/* conheça-o-hp */

.conheça-o-hp {
    margin-top: 150px;
    /* border: 1px solid black; */
}

.conheça-o-hp h1 {
    font-size: 3.5em;
    margin-bottom: 70px;
}

.conheça-o-hp p {
    font-size: 2em;
    margin-bottom: 70px;
}

.conheça-o-hp hr {
    width: 400px;
    margin-bottom: 70px;
    border: 0;
}


/* GRID */

/* .grid .small {
    padding: 30px;
    height: 400px;
    border-radius: 70px;
}

.grid .large {
    padding: 30px;
    height: 400px;
    border-radius: 70px;
} */


/* INFO */

.info {
    margin-top: 200px;
    padding: 100px 40px;
}

.info h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

.info p {
    font-size: 1.5em;
    margin-bottom: 120px;
}

.info ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 70px;
}

.info ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info ul li span {
    font-size: 3.5em;
    color: gold;
}

.info ul li h2 {
    font-size: 2.5em;
    color: gold;
    margin-bottom: 25px;
}

.info ul li p {
    margin-bottom: 0px;
}


/* NEWSLETTER */

.newsletter {
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.newsletter h1 {
    font-size: 4em;
    margin-bottom: 70px;
}

.newsletter p {
    margin-bottom: 70px;
    font-size: 2.1em;
}

.newsletter hr {
    width: 400px;
    margin-bottom: 70px;
    background-color: black;
    height: 2px;
    border: 0;
}

.newsletter form {
    /* border: 1px solid black; */
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.newsletter form input {
    flex-basis: 0;
    width: 0px; /* lol */
    padding: 30px 20px;
    flex-grow: 1;
    height: 30px;
    font-size: 1.7em;
    /* margin-right: 10px; */
}

.newsletter form button {
    border: none;
    padding: 19px;
    background-color: black;
    border-radius: 5px;
    color: white;
    opacity: 0.85;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5em;
}

.newsletter form button:hover {
    opacity: 1;
}


/* FOOTER */

footer {
    padding: 100px;
    background-color: #191A02;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer .social-icons {
    list-style-type: none;
    color: gold;
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
}

footer i {
    font-size: 3em;
}

footer p {
    font-size: 1.9em;
    color: white;
}
